# Environments
.git
.github
.env
.env.*
__pycache__
*.pyc
*.pyo
.venv
venv
env
.pytest_cache
.mypy_cache
.coverage
htmlcov
.gitignore
Dockerfile
docker-compose.yml
data/*
uploads/*
faiss_index/
faiss_index_projects/
src/data/images/
logs/*
*.db
*.sqlite
*.sqlite3
*.ipynb
corrective_rag.egg-info

logs/*
data/*
uploads/*

*.db
*.sqlite
*.sqlite3

README.md
LICENSE
